<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-fluid px-4">

    <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="/">
      <i class="fa-solid fa-recycle"></i>
      ReBorn
    </a>

    <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav gap-3 align-items-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/products">Browse</a>
        <a class="nav-link" href="/products/new">Sell</a>
        <a class="nav-link" href="/donate">Donate</a>

        <a class="nav-link ms-3" href="#" title="Profile">
          <i class="fa-solid fa-circle-user" style="font-size: 1.5rem;"></i>
        </a>
      </div>
    </div>

  </div>
</nav>
