<% layout("/layouts/boilerplate") %>

<div class="reborn-hero">
  <div class="reborn-content d-flex flex-column justify-content-center align-items-end">
    <div class="reborn-title">ReBorn</div>
    <div class="reborn-caption">Give Your Stuff a Second Life
        <br> List your item now and let someone love <i class="fa-solid fa-heart"></i> it again. </div>
       
    <div class="reborn-buttons d-flex gap-3 mt-3">
      <a href="/products" class="btn btn-outline-light">Browse Products</a>
      <a href="/products/new" class="btn btn-light text-dark">Sell a Product</a>
    </div>
  </div>
</div>
